/* General Additional Styles */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: auto !important;
}

body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

button,
a {
  border: none;
  border-radius: 0;
  transition: all 400ms ease-in-out;
}

button {
  display: flex;
  align-items: center;
  gap: 5px;
}

textarea {
  resize: none !important;
}

button:focus,
a:focus,
input:focus,
textarea:focus {
  outline: none !important;
}

/* Logo Extras */
.logo_container {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Navigation Menu */
#top-menu-nav #top-menu .menu-item a:hover,
#mobile_menu_slide a:hover {
  color: #6f4b33 !important;
}

/* Forminator Forms */
.forminator-response-message {
  font-size: 0.9em;
}

.forminator-error {
  color: #ff0000;
}

.forminator-input,
.forminator-select,
.forminator-textarea {
  background: #dac0af !important;
  color: #110c08 !important;
}

.forminator-input::placeholder,
.forminator-textarea::placeholder {
  color: #110c08;
  font-weight: 700;
}

.forminator-error-message {
  color: #ff0000;
  font-size: 0.875em;
}

.forminator-button-submit {
  background: #dac0af;
  color: #110c08;
  font-size: 1.3em;
  transition: all 400ms ease-in-out;
}

.forminator-button-submit:hover {
  background: #6f4b33;
  color: #f7f1ee;
}

/* Footer Extras */
#company {
  color: #dac0af !important;
}

#dev_link {
  color: #dac0af !important;
}

#dev_link:hover {
  color: #6f4b33 !important;
}

span.et_pb_scroll_top {
  background: #dac0af !important;
  color: #110c08 !important;
  border-radius: 0 !important;
  transition: all 400ms ease-in-out;
}

span.et_pb_scroll_top:hover {
  background: #dac0af !important;
  color: #110c08 !important;
}

/* RESPONSIVE BREAKPOINTS */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: auto !important;
  }
}

@media (max-width: 520px) {
  .btn-responsive {
    position: unset !important;
  }

  .footer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
}
