/* General Additional Styles */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

button,
a {
  border: none;
  border-radius: 0;
  transition: all 400ms ease-in-out;
}

button {
  display: flex;
  align-items: center;
  gap: 5px;
}

textarea {
  resize: none;
}

button:focus,
a:focus,
input:focus,
textarea:focus {
  outline: none !important;
}

/* Navigation Menu */
#top-menu-nav #top-menu .menu-item a:hover,
#mobile_menu_slide a:hover {
  color: #6f4b33 !important;
}

/* Footer Extras */
#company {
  color: #dac0af !important;
}

#dev_link {
  color: #dac0af !important;
}

#dev_link:hover {
  color: #6f4b33 !important;
}

span.et_pb_scroll_top {
  background: #dac0af !important;
  color: #110c08 !important;
  border-radius: 0 !important;
  transition: all 400ms ease-in-out;
}

span.et_pb_scroll_top:hover {
  background: #dac0af !important;
  color: #110c08 !important;
}

/* RESPONSIVE BREAKPOINTS */
@media (max-width: 520px) {
  .btn-responsive {
    position: unset !important;
  }

  .footer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
}
